@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #02484194;
    padding: 10px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}
main img.pricipal {
    max-width: 350px;
    display: block;
    margin: auto;
}
main ul {
    list-style-type: circle '\00A0\00A0';
    list-style-position: inside;
}

body {
     background-color: #1e89896a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
            }
        header {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            background-color:  #015958;
            text-align: center;
            padding: 10px;
            margin: 10px;
        }